.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  max-width: 219px;
}

.card__like-button {
  background: transparent url(../images/like\ button.svg.svg);
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity grey 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
